<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'"
               [opened]="!isMobile && isExpanded" 
               [ngClass]="{'expanded': isExpanded, 'collapsed': !isExpanded}"
               class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/clientes" routerLinkActive="active">
        <mat-icon>people</mat-icon>
        <span *ngIf="isExpanded">Clientes</span>
      </a>
      <a mat-list-item routerLink="/vendedores" routerLinkActive="active">
        <mat-icon>business_center</mat-icon>
        <span *ngIf="isExpanded">Vendedores</span>
      </a>
      <a mat-list-item routerLink="/propiedades" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span *ngIf="isExpanded">Propiedades</span>
      </a>
      <a mat-list-item routerLink="/propiedades-form" routerLinkActive="active"> 
        <mat-icon>add</mat-icon>
        <span *ngIf="isExpanded">Modificar</span> 
      </a>
      <a mat-list-item routerLink="/rentas" routerLinkActive="active">
        <mat-icon>attach_money</mat-icon>
        <span *ngIf="isExpanded">Rentas</span>
      </a>
      <li *ngIf="isLoggedIn()">
        <button mat-button (click)="logout()">Logout</button>
      </li>
      <li *ngIf="!isLoggedIn()">
        <a mat-button routerLink="/login">Login</a>
      </li>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleMenu()">
        <mat-icon>{{ isExpanded ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
      <span class="app-title">Inmobiliaria CRM</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
